{% extends 'templateBootstrap.html.twig' %}

{% block tail_title %}Hello ToDoController!{% endblock %}

{% block page_title %}<h1>Liste de TO DO :</h1>{% endblock %}

{% block body %}
<div>
    <ol class="list-group">
    {% for name,content in app.session.get('todos')%}
        <li class="list-group-item">
            {{name}} : {{content}}
        </li>
    {% endfor %}
    </ol>
</div>
{% endblock %}
