{% extends 'heritage_standard.html.twig' %}

{% block title %}Hello TwigHeritageController!{% endblock %}

{% block body %}
{{ parent() }}
<ol>
    <li>J'adore coder</li>
    <li>avec</li>
    <li>TWIG</li>
</ol>
{% endblock %}
